.meg_latest_winners_scroll {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }

  .meg_next_game_scroll {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  
  .scroll-content {
    display: inline-block;
    animation: scroll 280s linear infinite; /* Adjusted time for appropriate scrolling speed */
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0); /* Start immediately from the right edge of the viewport */
    }
    to {
      transform: translateX(-100%); /* Scroll the entire width out of view */
    }
  }


  
  