@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* * {
    font-family: Lato !important;
} */

.app__navbar-bg {
    background-color: #27aae1 !important;
    padding: 15px;
    font-family: Lato !important;
    font-weight: 500;
}

.dropdown:hover>.dropdown-menu {
    display: block !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block !important;
    left: 100%;
    margin-top: -37px;
}


.title_div {
    padding: 50px;
    background: #fff200;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 22px;
    text-align: center !important;
    color: #000000;
    margin-bottom: 20px;
}

.nav-item:hover .dropdown-menu {
    display: block !important;
    cursor: pointer;
    font-family: Lato !important;
}

.btn-close {
    color: #fff !important;
    background-image: url("../images/xclose.png") !important
}

#modal_head {
    display: block;
    margin-top: 30px;
    margin-left: -70px;
}

.dropdown-menu {
    width: 190px !important;
    box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.05);
    font-family: Lato !important;
}

.app_navbar-nav {
    margin-left: 30px !important;
}

.nav-link {
    outline: none;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s;
    font-family: Lato !important;
}

.nav-link:hover {
    border-bottom: 3px solid #fff200 !important;
}

a:active,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    color: #fff200;
}

.app__sign-in li {
    text-decoration: none;
    list-style-type: none;
}

.btn-yellow {
    color: #000;
    background-color: #fbed1f;
    border-color: #fbed1f;
    border-radius: 0 !important;
}

.app__works h1 {
    font-family: Karla;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #406777;
}

.app__works p {
    font-family: Karla;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #406777CC;

}

.app__how-play strong {
    font-family: Karla;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #406777;
}

.app__how-play small {
    font-family: Karla;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: #406777;
}

.meg_parallax {
    background: #27AAE1;
    color: #0B3E53;
    font-size: 22px;
    line-height: 26px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

/* .sub_menu_box {
    padding: 0px !important;
    box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 230px! important;
} */

@media (max-width: 750px) {
    .nav-link {
        width: 90px;
    }

    .app__proforecast {
        width: 40% !important;
    }

    .nav-link a {
        margin-left: -90px !important;
    }

    .title_div {
        font-size: 19px;
    }

    .app__works p {
        font-size: 16px;
    }

    .app__works h1 {
        font-size: 29px;
    }

    .app__navbar-mobile {
        margin-top: -7% !important;
        /* margin-left: -10%; */
    }

    .app__user-mobile {
        display: none !important;
    }
}